# Virtual environment
venv/
env/

# Python cache
__pycache__/
*.py[cod]

# Database and media files
db.sqlite3
/media/
/staticfiles/

# Secret key and environment variables
.env

# Compiled code
*.pyc
*.pyo
*.pyd
